<div {% if identifier %}id="{{ identifier }}"{% endif %}
     class="{{ classes|default('') }}"
>
    {{ help_text|raw|default('') }}

{% for child in children %}
    <div {% if child.identifier %}id="{{ child.identifier }}"{% endif %}
      class="{{ child.classes|default('') }}"
    >
        {% for child in children %}
            specify child view
{#            {% include 'child.twig' %}#}
        {% endfor %}
    </div>
{% endfor %}
</div>
